.brand {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.brand div {
  flex: 1;
  max-width: 60px;
  min-width: 40px;
  margin: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}
